.container {
  height: 80vh;
  overflow: hidden;
  position: relative;
}


.imageCarousel{
  width: 100%;
  object-fit:cover;
  aspect-ratio: 28/9;
}

@media screen and (max-width: 480px) {
  .container{
    height: 50vh;
  }
}