.container {
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo{
  display: flex;
  justify-content: center;
}

.btn{
  background-color: #222;
}
.btn:focus {
  outline: none;
  box-shadow: none;  
}


@media screen and (max-width: 480px) {
  .logo{
    display: none;
  }
  
}