.container {
  padding: 20px;
}

.right {
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}


.button {
  background-color: white;
  height: 30px;
  color: teal;
  font-weight: bold;
  margin-top: 20px;
  cursor: not-allowed;
}


