.container{
    justify-content: center;
}

.pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
}

.li{
    background-color: #772e2e;
}


.pagination-item.active .pagination-link {
    z-index: 3;
    color: #fff;
    background-color: #772e2e;
    border-color: #772e2e;
}
